body {
    display: flex;
    justify-content: center;
    margin: 0; 
    color: white;
}

.bloco {
    display: flex;
    background-color: #3a3a3a;
    min-height: 800px; 
    width: 100%;
    max-width: 1200px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #000;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    margin: 20px; 
}

.item {
    background-color: #6a6a6a;
    height: 300px; 
    width: 250px; 
    border: 5px solid #000;
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 10px; 
}

.item img {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border: 5px solid #000;
}
h1 {
    font-family: 'Arial', sans-serif;
}
